<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- Define variables -->
	<variable name="LogDirectory" value="${gdc:LogDirectory}" />

	<!-- Define targets -->
	<targets>
		<!-- File target -->
		<target name="logfile" xsi:type="File"
                fileName="${LogDirectory}/${shortdate}.log"
                archiveAboveSize="0" />

		<!-- Console target -->
		<target name="console" xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<!-- All logs go to file -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- All logs go to console -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>

</nlog>